
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display: flex;
    flex-direction: column;
    margin:0;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F0F0F0;
      
}

.container{
    margin-top:10%;
    margin-bottom:10%;
    background-color: white;
    border-radius:20px;
    border-bottom-right-radius: 30%;
    padding:50px;
    max-height: 70%;
}
img {
    background-color: #8A51FF; 
    display: inline-block;
    padding: 10px; 
    border-radius: 50%;
}
hr{
    display: inline-block;
    width:100%;
}
.cut{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}

.main{
    display: flex;
  }


.heading{
    color:#717171;
    font-weight: bold;
    letter-spacing: 3px;
}
input[type="number"]{
    font-size: 1rem;
    font-weight: bold;
    color:black;
}
input{
    padding:15px;
    width: 100px;
    margin-right:20px;
}

input :focus{
    border-color: #8A51FF;
}

.arrow:focus,.arrow:active{
    background-color: black;
}

/* to remove dropdown buttons ; For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  .calculate{
        font-weight: 800;
        font-style: italic;
        font-size: 4rem;
        margin: 0;
  }
  .calculate > p{
    margin:0;
  }

  .ans{
    color:#8A51FF;
  }

  .error-message {
    font-size: 12px;
    color: #E74C3C; /* Red color for the error message */
    margin-top: 5px;
    display: none;
}